<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/fabric-core/4.0.0/fabric.min.css">
<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/fabric-js/1.0.0/fabric.components.min.css">
<link rel="stylesheet" href="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/Styles/styles.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/Scripts/picker.js"></script>
<script src="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/Scripts/picker.date.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngOfficeUiFabric/0.12.8/ngOfficeUiFabric.min.js"></script>
<script src="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/App/app.js"></script>
<script src="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/App/Controllers/MainController.js"></script>
<script src="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/App/Services/JSOMService.js"></script>
<section id="employeeCard" ng-app="app" ng-controller="MainController">
    <div ng-if="loading" ng-cloak class="spinner">
        <uif-spinner> Loading...</uif-spinner>
    </div>
    <table ng-hide="loading && !instruction.TrainingDate" ng-cloak class="ms-Table">
        <tr>
            <th>Competentie</th>
            <th >Datum aftekenen</th>
            <th>Datum herhaling</th>
            <th>Instructie</th>
            <th>Datum aftekenen</th>
            <th>Datum herhaling</th>
        </tr>
        <tbody>
            <tr ng-repeat-start="competence in ::competences track by $index">
                <td rowspan="{{competence.Instructions.length+1}}"><a class="elipsis" ng-href="{{::siteUrl}}/Lists/Overzicht%20Competenties/DispForm.aspx?ID={{::competence.Id}}">{{::competence.Name}}</a></td>
                <td class="date-row" rowspan="{{competence.Instructions.length+1}}">
                    <uif-spinner ng-show="editingData[competence.Id] && isLoaded"></uif-spinner>
                    <div class="editDate" ng-hide="editingData[competence.Id] && isLoaded">
                        <span ng-hide="editingData[competence.Id] && !isLoaded"><i ng-if="editingData[competence.Id + '-success']" class="ms-Icon ms-Icon--SkypeCircleCheck success" title="date was updated successfully"></i></span>
                        <span ng-hide="editingData[competence.Id] && !isLoaded"><i ng-if="editingData[competence.Id + '-error']" class="ms-Icon ms-Icon--StatusErrorFull error" title="something went wrong, check the console (f12)"></i></span>
                        <span ng-hide="editingData[competence.Id] && !isLoaded">{{!competence.TrainingDate ? "not set" : (competence.TrainingDate | date:'dd/MM/yyyy') }}</span>
                        <i ng-hide="editingData[competence.Id] || !isVisible" class="ms-Icon ms-Icon--Edit editElem" ng-click="editCompetenceTraningDate(competence)"></i>     
                    </div>
                    <div class="ms-TextField" ng-if="editingData[competence.Id] && !isLoaded">
                        <uif-datepicker uif-date-format="dd/mm/yyyy" ng-model="competence.TrainingDate" ng-change="saveCompetenceTraningDate(competence)"></uif-datepicker>
                    </div>
                </td>
                <td class="date-row" rowspan="{{competence.Instructions.length+1}}">
                    <span>{{!competence.RepeatDate ? "not set" : (competence.RepeatDate | date:'dd/MM/yyyy')}}</span>
                </td>
            </tr>

            <tr ng-repeat="instruction in competence.Instructions" ng-repeat-end>
                <td>
                    <a class="elipsis" ng-href="{{::siteUrl}}/Production%20instructions/Forms/DispForm.aspx?ID={{::instruction.Id}}">{{::instruction.Name}}</a>
                </td>
                <td class="date-row">
                    <uif-spinner ng-show="editingData[competence.Id+'-'+instruction.Id] && isLoaded"></uif-spinner>
                    <div class="editDate" ng-hide="editingData[competence.Id+'-'+instruction.Id] && isLoaded">
                        <span ng-hide="editingData[competence.Id+'-'+instruction.Id] && !isLoaded"><i ng-if="editingData[instruction.Id + '-success']" class="ms-Icon ms-Icon--SkypeCircleCheck success"></i></span>
                        <span ng-hide="editingData[competence.Id+'-'+instruction.Id] && !isLoaded"><i ng-if="editingData[instruction.Id + '-error']" class="ms-Icon ms-Icon--StatusErrorFull error"></i></span>
                        <span ng-hide="editingData[competence.Id+'-'+instruction.Id] && !isLoaded">{{!instruction.TrainingDate ? "not set" : instruction.TrainingDate | date:'dd/MM/yyyy'}}</span>  
                        <i ng-hide="editingData[competence.Id+'-'+instruction.Id] || !isVisible" class="ms-Icon ms-Icon--Edit editElem" ng-click="editInstructionTraningDate(competence.Id, instruction)"></i>   
                    </div>
                    <div class="ms-TextField" ng-if="editingData[competence.Id+'-'+instruction.Id] && !isLoaded">
                        <uif-datepicker uif-date-format="dd/mm/yyyy" ng-model="instruction.TrainingDate" ng-change="saveInstructionTraningDate(competence.Id, instruction)"></uif-datepicker>
                    </div>
                </td>
                <td class="date-row"><span ng-hide="!instruction.ExpiryDate">{{instruction.ExpiryDate | date:'dd/MM/yyyy'}}</span><span ng-show="!instruction.ExpiryDate">not set</span></td>
            </tr>
        </tbody>
    </table>
</section>