<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/fabric-core/4.0.0/fabric.min.css">
<link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/fabric-js/1.0.0/fabric.components.min.css">
<link rel="stylesheet" href="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/Styles/styles.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/js/ngDialog.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngOfficeUiFabric/0.12.8/ngOfficeUiFabric.min.js"></script>
<script src="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/App/app.js"></script>
<script src="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/App/Controllers/RaportController.js"></script>
<script src="https://infoprojektgdansk.sharepoint.com/sites/SPDevInstructions/Style%20Library/App/Services/JSOMService.js"></script>

<section ng-app="app" ng-controller="RaportController">

  <div ng-cloak class="spinner">
    <uif-spinner ng-show="downloadDataFromSharePointList">Loading...</uif-spinner>
  </div>

  <p ng-cloak ng-if="errorMsg"><span>Something went wrong: </span>{{error}}</p>

  <div ng-cloak ng-if="!downloadDataFromSharePointList" style="width: 900px">

<p class="refresh" ng-click="refresh()"><span><i class="ms-Icon ms-Icon--Refresh"></i> Verversen databank</span></p>

<div class="ms-TextField filter">
  <label class="ms-Label">Filter - Datum herhaling eindigde en eindigt met in:</label>
  <select class="ms-TextField-field" ng-model="sortorder" ng-change="layoutDone(sortorder)">
        <option value="3">3 maanden</option>
        <option value="2">2 maanden</option>
        <option value="1">1 maand</option>
    </select>
</div>
<uif-spinner ng-show="isLoading">Loading...</uif-spinner>
<table ng-hide="isLoading" class="ms-Table">
  <tr>
    <!-- <th>#</th> -->
    <th>Medewerker</th>
    <th>Instructie</th>
    <th>Competentie</th>
    <th>Datum aftekenen</th>
    <th>Datum herhaling</th>

  </tr>
  <tbody>
    <tr class="avoid" ng-repeat="obj in report track by obj.uid">
      <!-- <td>{{$index +1}}</td> -->
      <td>
        <a class="elipsis" ng-href="{{::siteUrl}}/Lists/Overzicht%20Medewerkers/Item/displayifs.aspx?ID={{::obj.EmployeeId}}" title="{{::obj.Name}}"
          ng-bind="::obj.Name"></a>
      </td>
      <td>
        <a class="elipsis" ng-href="{{::siteUrl}}/Production%20instructions/Forms/DispForm.aspx?ID={{::obj.InstructionId}}" title="{{::obj.Instruction}}"
          ng-bind="::obj.Instruction"></a>
      </td>
      <td>
        <a class="elipsis" ng-href="{{::siteUrl}}/Lists/Overzicht%20Competenties/DispForm.aspx?ID={{::obj.CompetenceId}}" title="{{::obj.Competence}}"
          ng-bind="::obj.Competence"></a>
      </td>
      <td ng-bind="::obj.TrainingDate | date:'dd/MM/yyyy'"></td>
      <td ng-bind="::obj.RepeatDate | date:'dd/MM/yyyy'"></td>

    </tr>
  </tbody>
</table>

</div>

</section>

<!--please don't delete this comment
  ng-bind="finalObject[$index-1].Name !== obj.Name ? obj.Name : ''"
ng-bind="finalObject[$index-1].Instruction !== obj.Instruction ? obj.Instruction : ''" -->